body {
  height: 2000px;
}
.navbar-default {
	background: #3399ff;
	border: none;	
}

.navbar-default .navbar-nav>li{
	float: none;
	display: inline-block;
	padding: 1em;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.navbar-nav {
	float: none;
	text-align: center;
}

#banner-container {
	z-index: -2;
	position: relative;
	width: 100%;
	height: 45vw;
	background-image:url('./assets/programmer.png'); 
  background-size: cover;
	background-attachment: fixed;
	text-align: center;
}	
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#header { 
	z-index: -1;
	position: fixed;
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid white;
	width: 18ch;
	margin: 2.4em 12%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2.5s steps(17, end),
	           blink-caret .5s step-end infinite alternate;
	font-size: 7vw;
	color: white;
}
#sub-header {
	z-index: -1;
	position: fixed;
	font-size: 4vw;
	margin-top: 7em;
	margin-left: 30%;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-nav>li{
		padding: 0em;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 1.3em;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin: 0;
	}
	.navbar-default {
		background: #3399ff;
		border: none;
	}
	.navbar-nav {
	float: left;
	}
	.navbar-default .navbar-nav>li{
		float: none;
	  display: block;
	  text-align: left;
  }
  #banner-container {
    margin-top: 3em;
		background-attachment: scroll;
  }
	#header { 
		position: absolute;
	}
	#sub-header {
		position: absolute;
	}

}

/*ABOUT ME SECTION*/
#banner2-container {
	position: relative;
	width: 100%;
	height: 30vw;
	background-image:url('./assets/programmer2.png'); 
  background-size: cover;
	background-attachment: fixed;
}	
.row {
	width: 100%;
	margin: 0;
}
#profile-picture {
	width: 53%;
	margin: 0 20% 2vw 30%;
	border-radius: 50%;
}
#about-me-info{
	width: 100%;
	display: inline-block;
}
#about-me{
	display: inline-block;
	background-color: #4d4d4d;
}
#about-me-info h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
  font-size: 2.9em;
  margin-top: 0;
}
#about-me-info p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
  font-size: 1.4em;
}
#about-me-personal {
	display: inline-block;
  width: 100%;
  float: left;
  margin-top: .5vw;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
}
#about-me-personal h4{
  font-size: 1.5em;
}
#about-me-personal p{
  font-size: 1.4em;
  color: grey;
}
#about-me-desc {
	font-size: 1.4em;
  color: grey;
	font-weight: 300;
	width: 90%;
	margin: 3vw 5% 0 5%;
}

#about-me-desc hr {
	border-color: rgba(51, 153, 255,.7);
	border-width: 3px;
	width: 97%;
	float: left;

}
#about-me-desc p {
	float: left;
	color: white;
}
#about-me-desc h1{
	color: white;
	font-family: 'Roboto', sans-serif;
}
#about-me-email {
	margin-left: 1em;
	font-size: .9em;
	margin-top: -.15em;

}
#signature-container {
	width: 80%;
	margin: 4vw 10% 0 10%;
	float: right;
}
#signature {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 3em;
  font-style: italic;
	float: right;
	color: white;
}
@media screen and (max-width: 767px) {
  #about-me-personal p{
    font-size: 1.4em;
    color: grey;
  }
  #about-me-personal h4{
    font-size: 1.4em;
  }  
  #about-me-desc {
	  font-size: 1.4em;
  }
  #about-me-email {
	  margin-left: 1em;
	  font-size: .9em;
      margin-top: -.15em;

  }
  #profile-picture {
      width: 53%;
      margin: 0 20% 2vw 23%;
	  border-radius: 50%;
  }
}
/*PROJECTS SECTION*/




#projects-header-container{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-left: 2vw;
}
#projects-header-container h1{
	font-family: 'Roboto', sans-serif;
  font-size: 2.9em;
	font-weight: 300;
	width: 30%;
	margin-left:35%;
	margin-right:35%;
}
.line:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    
}
.line span {	
		
        background: #fff; 
        padding: 0 15px; 
}
#projects-header-container h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-top: 0;
}
#github-container{
	display: inline-block;
}
#github-header {
	width: 30%;
	float: left;
	font-size: 1.4em;

}
#github-link {
	width: 40%;
	float: left;
	font-size: 1.4em;
}
#projects-display {
	display: inline-block;
	margin-top: 4.5vw;
}
.project-container {
	text-align: center;
	width: 80%;
	margin: 0 10%;
}

.project-images {
	width: 60%;
	margin: 0 20%;
}
.project-container h4{
	width: 80%;
	margin: 0 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	margin-top: 3vw;
}
.project-container p{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: grey;
	width: 95%;
	margin: 2vw 2.5% 0 2.5%;
}
#bmi-app-screenshots-container {
	padding-top: 2em;
	

}
#bmi-app-screenshots-container .bmi-screenshot{
	width: 32%;
	padding-left: 2%;
}


@media screen and (max-width: 767px) { 
	#bmi-app-screenshots-container {
		padding-top: 0;
	}
	#bmi-app-screenshots-container .bmi-screenshot{
		padding-left: 0;
	}

	.project-images {
		width: 80%;
		margin: 0 10%;
	}
	.project-container p {
		width: 100%;
	}
	.project-container {
		width: 100%;
		margin: 5vw 0 0 0;
	}
	#nutripal-container {
		margin-top: 5vw;
	}
	#github-link {
		font-size: 1.2em;
		float: none;
	}
}

/*HACKATHONS SECTION*/


.section-container {
		margin-left: 2vw;
		margin-top: 10vw;
}
.section-container h1{
	font-family: 'Roboto', sans-serif;
  font-size: 3.2em;
	font-weight: 300;
}
.hackathons-container p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: grey;
	
}
.hackathons-container h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.hackathons-container{
	margin: 2vw 2.5% 2vw 2.5%;
	font-family: 'Roboto', sans-serif;
}

/*EXPERIENCE*/
#website-display {
	width:100%;
}
.hackathons-container .tech-wrapper {
		color: white;
		background: grey;
		border: 1px solid black;
		border-radius: 5px;
		height: 1.6em;
		font-size: .9em;
		padding: 0 .6em;
		float: left;
		margin: .4em;
	}
@media screen and (max-width: 767px) { 
	.hackathons-container .tech-wrapper {
		color: white;
		background: grey;
		border: 1px solid black;
		border-radius: 5px;
		height: 1.6em;
		font-size: .9em;
		padding: 0 .6em;
		float: left;
		margin: .4em;
	}



}
.section-divider {
	border-bottom: 1px solid black;

}
.small-section-divider {
	border-bottom: 1px dashed #737373;
	width: 90%;

}





/*UPDATED CSS*/
.mobile-image {
  width: 100%;
}
.desktop-image {
  width: 100%;
}
