/* HOME */
.container-custom {
  margin-top: 4em;
}

#about-me-heading {
  font-weight: 700;
}
.about-me-word {
  font-weight: 600;
}

.about-me-social-logo {
  height: 2em;
  margin-right: .7em;
}
#about-me-horizontal-line {
  border-bottom: 1px solid #000000b0;
  margin-top: 4em;
}
#contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
/* DESKTOP */
@media screen and (min-width: 992px) {
  .navbar-custom {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: 1px solid gray;
    height: 4em;
  }
  .navbar-nav-default {
    height: 100%;
  }
  .nav-link-custom-active {
    border-bottom: 3px solid #17E7CF;
    height: 100%;
  }
  #about-me-parragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #about-me-social-logos-container {
    margin-top: 1em;
  }
  #about-me-image {
    object-fit: cover;
    border-radius: 50%;
    width: 14em;
    border: 2px solid #17e7cf;
    padding: .2em;
  }
  #contact-form {
    width: 55%;
  }
}

/* MOBILE */
@media screen and (max-width: 992px) {
  #about-me-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
  .container-custom {
    margin-top: 1.5em;
  }
  #about-me-image {
    object-fit: cover;
    border-radius: 50%;
    width: 12em;
    border: 2px solid #17e7cf;
    padding: .2em;
  }
  #about-me-social-logos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-me-social-logo {
    height: 2em; 
    margin-right: .9em;
  }
  #about-me-horizontal-line {
    border-bottom: 1px solid #000000b0;
    margin-top: 1.9em;
  }
  #contact-form {
    width: 100%;
  }
}
